@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    height: 100vh;
    background-image: url(images/background.png);
    background-size: 100% 100%;
    font-family: Roboto;
}

#headerTitle, #nav ul{
    padding: 20px;
}

p{
    padding: 10px;
}

a{
    color: cornflowerblue;
}

nav ul{
    list-style-type: none;
    text-align: center;
}

li {
    display: inline-block;
    padding: 1%;
    padding-bottom: 2px;
    font-size: 3vw;
}

nav ul li:hover{
    border-bottom: 5px solid white;
    border-radius: 10px;
    box-shadow: 0px 3px #555;
    text-shadow: #555 3px 3px;
}

li a{
    color: white;
    text-decoration: none;
}

#headerTitle{
    text-align: center;
    text-shadow: #555 3px 3px;
    font-size: 50px;
    color: white;
}

#textfield{
    text-align: center;
    color: white;
    padding: 0% 25%;
    padding-top: 10px;
}